.slide {
position : absolute;
left : 0 ;
top : 0 ;
width : 100% ;
z-index : 1 ;
opacity : 0 ;
transition : opacity 0.5s ;
}
.active-slide {
opacity : 1 ;
z-index : 2 ;
}
.quiz-container {
position: relative;
height: 500px;
margin-top: 40px;
}
.error {
border : 1px solid red;
}
.error-block {
color : red;
}
.start {
    display: none;
}
.result {
    display: none;
}
.btn {
    display: inline-block;
}
.btn_block {
    display: none;
}
.countdownContainer {
position: absolute;
left: 50%;
}
